---
import Root from "@/layouts/Layout.astro";
let { id } = Astro.params;
import { db, Bots, eq } from "astro:db";
import getAvatarURL from "@/lib/get-avatar-url";
import { type Bot } from "@/components/bot-card";
import BotPage from "@/components/bot-page";
const bot = (
  await db
    .select({
      id: Bots.id,
      slug: Bots.slug,
      avatar: Bots.avatar,
      username: Bots.username,
      discriminator: Bots.discriminator,
      short: Bots.short,
      votes: Bots.votes,
      servers: Bots.servers,
      invite: Bots.invite,
      bg: Bots.bg,
      desc: Bots.desc,
      badges: Bots.badges
    })
    .from(Bots)
    .where(eq(Bots.slug, id))
)[0];
---

<Root title="Rovel Discord List">
  <div class="mt-24"></div>
  <BotPage client:load client:only="react" bot={bot as any} />
</Root>
