@import "../../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: discord;
  src: url(https://discord.rovelstars.com/assets/font/sans.otf);
}
@font-face {
 font-family: burbank;
 src: url(https://discord.rovelstars.com/assets/font/Burbank.otf);
}
@font-face {
 font-family: angrybirds;
 src: url(https://discord.rovelstars.com/assets/angrybirds.ttf);
}
@font-face {
 font-family: bangers;
 src: url(https://discord.rovelstars.com/assets/Bangers.ttf);
}

$blurple: #7289da;
$white: #FFFFFF;
$grey-dark: #36393f;
// start

body {
 background-color: $grey-dark;
}