@charset "utf-8";
@import "../../bulma/bulma.sass";

$blurple: #7289da;
$white: #ffffff;
$black: #36393f;
$primary: $blurple;

html, body{
 height: 100%;
}

body{
 background-color: $black;
 color: $white;
}
