@charset "utf-8";
@font-face {
  font-family: discord;
  src: url(https://bots.rovelstars.ga/assets/font/sans.otf);
}
@font-face {
 font-family: burbank;
 src: url(https://bots.rovelstars.ga/assets/font/Burbank.otf);
}
@font-face {
 font-family: angrybirds;
 src: url(https://bots.rovelstars.ga/assets/angrybirds.ttf);
}
@font-face {
 font-family: bangers;
 src: url(https://bots.rovelstars.ga/assets/Bangers.ttf);
}

$blurple: #7289da;
$white: #ffffff;
$primary: $blurple;
$family-sans-serif: discord, sans-serif;
$grey-dark: #36393f;
$background: $grey-dark;

*{
 background-color: $background;
 color: $white;
}

@import "../../node_modules/bulma/bulma.sass";