@charset "utf-8";

// dracula Pallete
$dracula-bg: #282a36;
$dracula-fg: #f8f8f2;
$dracula-selected: #44475a;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;


$deep-black: #0a0a0a;
// Update Bulma's global variables
// read more: https://bulma.io/documentation/customize/variables/
$primary: #5865F2;

$link: #00AEF3;
$link-hover: lighten(#00AEF3, 5%);
$link-hover-border: lighten(#00AEF3, 5%);
$link-focus: darken(#00AEF3, 5%);
$link-focus-border: darken(#00AEF3, 5%);
$link-active: lighten(#00AEF3, 5%);
$link-active-border: lighten(#00AEF3, 5%);

$info: #9b84ee;
$success: #57F287;
$warning: #FEE75C;
$danger: #ED4245;
$dark: darken(#2f3136, 5%);
$grey: lighten(#36393F, 20%);

$text: #FFFFFF;
$text-light: #99aab5;
$text-strong: #FFFFFF;

$background: #36393F;

$green-invert: #36393F;
$success-invert: #36393F;

// Update some of Bulma's component variables
$title-color: #FFFFFF;
$subtitle-color: #f5f5f5;
$subtitle-strong-color: darken(#FFFFFF, 5%);

$body-background-color: #36393F;
$footer-background-color: #36393F;

$code-background: #282a36;
$label-color: #FFFFFF;
$card-color: #212226;

// button
$button-color: #36393f;
$button-static-color: #36393f;

// message
$message-body-color: #36393F;

// form
$input-placeholder-color: darken(#99aab5, 20%);
$input-color: #36393F;
$input-icon-color: lighten(#36393F, 20%);
$input-icon-active-color: #36393F;

// form -- select
$input-hover-color: #00AEF3;

// form -- radio
// $input-hover-color: $dracula-fg;

// table
$table-background-color: #36393f;

$table-head-background-color: #000000;
$table-foot-background-color: #000000;

$table-row-hover-background-color: lighten(#5865F2, 10%);
$table-row-active-background-color: #5865F2;
$table-striped-row-even-background-color: #5865F2;
$table-striped-row-even-hover-background-color: lighten(#5865F2, 10%);

// box
$box-background-color: #36393F;

// media
$media-border-color: #FFFFFF;
$scheme-invert: #FFFFFF;

@media screen and (min-width: 1024px){
  .navbar-dropdown {
  background-color: #36393F;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 8px 8px rgba(255,255,255,10%);
  display: none;
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
}
}