@import "./discord-vars.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "./common.scss";

@import "../../node_modules/keyboard-css/dist/scss/main";
$kbc-button-primary: $primary;
$kbc-button-secondary: $black;
$kbc-button-success: $success;
$kbc-button-info: $info;
$kbc-button-warning: $warning;
$kbc-button-danger: $danger;
$kbc-button-light: $grey;
$kbc-button-dark: $dark;

@font-face {
 font-family: discordu;
 src: url(https://discord.rovelstars.com/assets/font/discordu.ttf);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
 font-family: discordu, sans-serif;
}