@import "./dracula-vars.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "./common.scss";

@import "../../node_modules/keyboard-css/dist/scss/main";
$kbc-button-primary: $primary;
$kbc-button-secondary: $black;
$kbc-button-success: $success;
$kbc-button-info: $info;
$kbc-button-warning: $warning;
$kbc-button-danger: $danger;
$kbc-button-light: $grey;
$kbc-button-dark: $dark;

.textarea{
 background-color: darken($background, 20%);
 color: #99aab5;
}
::-moz-selection{
  color: white;
  background: $primary;
}
::selection {
  color: white;
  background: $primary;
}
#rdl-widget{
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 100vh;
  background-color: $primary;
  border: none;
  outline: none;
  color: white;
  margin: 10px;
  width: 50px;
  height: 50px;
}