body{
  font-family: 'Calibri Light';
  background-color: #2C2F33;
}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#chat {
  max-width: 600px;
  margin: 30px auto;
  border-radius: 2px;
}

#chat-window{
  height: 70vh;
  overflow: auto;
  background: #2C2F33;

  -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.23);
  -moz-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.23);
  box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.23);
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100% !important;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

button{
  background: #7289DA;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

.at {
  float: right;
  color: gray;
}

#footer {
  color: white;
  text-align: center;
}

a {
  color: #7289DA !important;
}