<%- include('partials/header', {
title: "Add A New Bot - Rovel Discord List",
desc: "The next gen all-in-one Discord List for Emojis, Users, Servers and Bots! Find the best stuff for yourself here! Or reach the top of the leaderboard with your friends!",
img: "https://cdn.discordapp.com/attachments/775220204699385886/811569300196163604/robot.png"
}); %>
<script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.3/marked.min.js" integrity="sha512-t1jq1b5U4hgz4lQoeyRD9QiVu99KxjyA939fnND+R+gLOHmuT5F9YFHJI1Nse1B1QG6/U11SPAc8fshYshb6MA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.27.5/sanitize-html.min.js" integrity="sha512-1WdDeZGPykoWawFKD3NGJfZM+4hq2+OxUF8ZJrrqFBNU3J+Q5Tgvn+XwHNt8HaVs1MRFFlAgtOgyJr6/mqN/xw==" crossorigin="anonymous"></script>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-black">
<div class="hero-body">
<br>
<div class="container has-text-centered">
<h1 class="title">
<span class="icon is-large">
<i aria-hidden="true" class="bx bxs-plus-square has-text-success"></i>
</span>
<br>
<span>Add A New Bot!</span>
</h1>
<h2 class="subtitle has-text-grey-light"><span>
And make sure to join our server if not done already, and also make sure your DMs are open in Rovel Stars server, in order to receive notifications about your bot!
</span></h2>
</div>
</div>
</section>
<div class="container">
<div class="section">
<form method="POST">
<h1 class="is-size-3 has-text-default">
General Information
</h1>
<br>
<p>Your Bot ID</p>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" id="botid" placeholder="1234567890">
    <span class="icon is-small is-left">
      <i class="bx bxs-id-card"></i>
    </span>
  </p>
  <br />
  <p>Bot Library</p>
  <p class="control has-icons-left">
   <input class="input" id="botlib" placeholder="discord.js">
   <span class="icon is-small is-left">
    <i class="bx bx-library"></i>
   </span>
  </p>
  <br />
  <p>Bot Owners</p>
  <p class="has-text-grey-light">Separate owner IDs with comma ","</p>
  <p class="control has-icons-left">
   <input class="input" id="botowners" placeholder="1234567890,1234567890">
   <span class="icon is-small is-left">
    <i class="bx bxs-crown"></i>
   </span>
  </p>
  <br />
  <p>Short Description</p>
  <p class="control has-icons-left">
   <input class="input" id="botshort" placeholder="This bot can play music and can make your server active!">
   <span class="icon is-small is-left">
    <i class="bx bxs-binoculars"></i>
   </span>
  </p>
  <br />
  <p>Long Description</p>
  <p>
   <div class="desc-live">
   <textarea style="width:100%;" name="botdesc" id="botdesc" placeholder=""></textarea>
  <br />
  <p>Background Image</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input" id="botbg" placeholder="Image link">
   <span class="icon is-small is-left">
    <i class="bx bxs-image"></i>
   </span>
  </p>
  <br />
  <p>Bot Prefix</p>
  <p class="control has-icons-left">
   <input class="input" id="botprefix" placeholder="!">
   <span class="icon is-small is-left">
    <i class="bx bxs-message-error"></i>
   </span>
  </p>
  <br />
  <p>Github Source Code</p>
  <p class="control has-icons-left">
   <input class="input" id="botgithub" placeholder="https://github.com/rovelstars/rovel-discord-list">
   <span class="icon is-small is-left">
    <i class="bx bxl-github"></i>
   </span>
  </p>
  <br />
  <p>Support Server</p>
  <p class="control has-icons-left">
   <input class="input" id="botsupport" placeholder="https://discord.gg/953XCpHbKF">
   <span class="icon is-small is-left">
    <i class="bx bx-support"></i>
   </span>
  </p>
  <br />
  <p>Website</p>
  <p class="control has-icons-left">
   <input class="input" id="botwebsite" placeholder="https://discord.rovelstars.com">
   <span class="icon is-small is-left">
    <i class="bx bx-world"></i>
   </span>
  </p>
  <br />
  <p>Donate</p>
  <p class="control has-icons-left">
   <input class="input" id="botdonate" placeholder="paypal, patreon, etc.">
   <span class="icon is-small is-left">
    <i class="bx bx-money"></i>
   </span>
  </p>
</div>
</form>
<div class="preview">
 <center><p> -Live Preview - </p></center>
 <div class="hero-body">
   <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="avatar image is-128x128" id="bot-avatar" style="margin: auto; border-radius: 50%;" src="https://discord.rovelstars.com/favicon.ico" alt="bot Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title" id="bot-username">Sample Bot
   </h1><br />
   <h4 class="subtitle" id="bot-short">
    Sample Bot Description
   </h4>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Prefix</span>
    <span class="tag is-danger" id="bot-prefix">Bot Prefix</span>
    </div>
  </div><br>
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Library</span>
    <span class="tag is-info" id="bot-lib">not known</span>
    </div>
  </div><br>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Made by</span>
    <span class="tag is-success">shown after bot is added</span>
    </div>
  </div><br>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">In</span>
    <span class="tag is-link">??? Servers
    </span>
    </div>
  </div><br>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Votes</span>
    <span class="tag is-info">0</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Support Server</span>
    <span class="tag is-primary"><a href="https://discord.gg/953XCpHbKF" id="bot-support" style="color:white;">Join</a></span>
    </div><br />
    <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Github</span>
    <span class="tag is-success"><a href="https://github.com/rovelstars" id="bot-github" style="color:black;">Check Source Code</a></span>
    </div>
  </div>
  </div>
  </div>
 </section>
 <br>
 <div class="container" style="overflow: hidden;">
  <div class="section content" id="livedesc">
   Bot Description
  </div>
 </div>
</div>
</div>
</div>
</div>
</div>
<script>
var botdesc = document.getElementById("botdesc");
var visualizer = document.getElementById("livedesc");
var botid = document.getElementById("botid");
botid.addEventListener("keyup", async(e)=>{
 fetch("https://discord.rovelstars.com/api/client/users/"+botid.value).then(r=>r.json()).then(d=>{
  document.getElementById("bot-avatar").src=(d.avatar)?`https://cdn.discordapp.com/avatars/${d.id}/${d.avatar}.png`:`https://cdn.discordapp.com/embed/avatars/0.png`;
  document.getElementById("bot-username").innerText=d.username;
 })
});

var botshort = document.getElementById("botshort");
botshort.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-short").innerText(botshort.value);
});

var botprefix = document.getElementById("botprefix");
botprefix.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-prefix").innerText(botprefix.value);
});

var botlib = document.getElementById("botlib");
botlib.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-lib").innerText(botlib.value);
});

var botsupport = document.getElementById("botsupport");
botsupport.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-support").href(botsupport.value);
});

var botgithub = document.getElementById("botgithub");
botgithub.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-github").href(botgithub.value);
});

botdesc.addEventListener("keyup",async (e) => {
   const dirtyhtml = marked(botdesc.value);
   const noicehtml = sanitizeHtml(dirtyhtml, {
     allowedTags: sanitizeHtml.defaults.allowedTags.concat(['discord-message', 'iframe', 'style']),
     allowVulnerableTags: true,
     allowedAttributes: {
      '*': ["*"]
     }
    });
    visualizer.innerHTML = noicehtml;
    Prism.highlightAll();
});
</script>
</div>
</div>
 <%- include('partials/footer'); %>
</body>
</html>