<%-  include('partials/header', {
title: `Import Bot | Best Discord Bot List `,
desc: `Import your discord bot from other bot lists!`,
img: "https://discord.rovelstars.com/assets/img/bot/logo-512.png",
theme,
imglink: undefined
}); %>
</head>
<body>
 <script>
  function importBot(){
   var botid = document.getElementById("botid");
   var list = document.getElementById("list");
   var submitbutton = document.getElementById("submitbutton");
   submitbutton.classList.add("is-loading");
   fetch(`/api/bots/import/${list.value}/${botid.value}`).then(r=>r.json()).then(res=>{
    submitbutton.classList.remove("is-loading");
    if(res.err){
     const title = res.err.split(" ").join("_");
     Swal.fire({title, icon: "error", footer: '<a href="/server">Why do I have this error?</a>'});
    }
    else{
     Swal.fire({title: "Bot Successfully Imported!", icon: "success"}).then(()=>{

       window.location = `/bots/${botid.value}`
     })
    }
   })
  }
 </script>
   <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-black">
<div class="hero-body">
<br />
<div class="container has-text-centered">
<h1 class="title">
<span class="icon is-large">
<i aria-hidden="true" class="bx bxs-download has-text-success"></i>
</span>
<br />
<span>Import Bot!</span>
</h1>
<h2 class="subtitle has-text-grey-light"><span>
And make sure to join our server if not done already, and also make sure your DMs are open in Rovel Stars server, in order to receive notifications about your bot!  Please read rules:<br />
<h1 id="rules-for-adding-bots">Rules for adding bots</h1>
<ul>
<li>Bots should not be offline when adding them. Bots with owners will be notified and we shall wait for 24hrs before deleting the bot. Bots without owners that are offline will be deleted immediately.</li>
<li>Bots should not have <code>Deleted</code> or <code>Hacked</code> in their bot name. Those bots will be automatically deleted/not added to list.</li>
<li>Bots mainly focused for alternative websites that are competing us won&#39;t be <strong>added</strong></li>
<li>Your Bot should not DM users without their consent.</li>
<li>Your Bot should not show NSFW images outside NSFW channels.</li>
<li>Your Bot should not advertise anything to anyone (including your bot itself.)</li>
<li>Suspected Bots will be first added to a testing server, and then to our main server. This won&#39;t happen with any bots normally.</li>
</ul>
</span></h2>
</div>
</div>
</section>
<div class="container">
<div class="section">
<form onsubmit="return false;">
 <p>Your Bot ID</p>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" id="botid" placeholder="1234567890">
    <span class="icon is-small is-left">
      <i class="bx bxs-id-card"></i>
    </span>
  </p>
  <br />
  <p>Choose a Bot List To Import Your Discord Bot From</p>
  <br />
  <div class="select is-rounded">
  <select id="list">
    <option value="topgg">Top.gg</option>
    <option value="del">Discord Extreme List</option>
    <option value="voidbots">Void Bots</option>
  </select>
  <br />
</div>
   </form>
   <br /><br />
   <div style="width: 100%;">
     <button class="button is-success has-text-white" onclick="importBot()" id="submitbutton"><i class="bx bxs-download"></i>Import Bot</button>
     </div>
 </div>
 </div>
 </div>
 <%- include('partials/footer'); %>
</body>
</html>