---
import Root from "@/layouts/Layout.astro";
import BotCardList from "@/components/bot-card-list.astro";

import { db, Bots, not, like } from "astro:db";
import { desc } from "astro:db";
import { Flame } from "lucide-react";
import Discord from "@/components/svgs/discord";
const data = await db
  .select({
    id: Bots.id,
    slug: Bots.slug,
    avatar: Bots.avatar,
    username: Bots.username,
    discriminator: Bots.discriminator,
    short: Bots.short,
    votes: Bots.votes,
    servers: Bots.servers,
    invite: Bots.invite,
    bg: Bots.bg,
  })
  .from(Bots)
  .orderBy(desc(Bots.votes))
  .limit(10);
---

<Root
  title="The Best Discord List for Bots, Servers, Emojis..."
  description="Imagine a place - where you find everything about discord! Users, Servers, Bots, Emojis, Templates, PFPs and Banners, We got you covered!"
  smallImgLink="/img/bot/logo-512.png"
>
  <Discord className="w-24 h-24 mx-auto text-primary my-12" />
  <h1 class="font-heading text-4xl md:text-6xl font-bold mb-4 text-center">
    Rovel Discord List
  </h1>
  <h2 class="font-heading text-2xl md:text-4xl font-bold mb-4 text-center">
    Imagine a better place - where you can find everything about discord!
  </h2>
  <h3 class="font-heading text-3xl font-bold mb-4 text-center mt-12">
    <img src="/img/fire.svg" class="w-8 h-8 inline-block text-primary -mt-2" />
    Top 10 Bots
  </h3>
  <BotCardList list={data as any} />
</Root>
