<%- include('partials/header', {
title: "Rovel Discord List - RDL",
desc: "The next gen all-in-one Discord List coming up!"
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar'); %>
 <p>Hello <%= user.username %> !</p>
</body>