<%- include('partials/header', {
title: "Rovel Discord List - RDL",
desc: "The next gen all-in-one Discord List coming up!"
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <div class="container"><br><br><br><br><br>
 <h1 class="header" style="font-size: 2em; font-weight: bolder;">ROVEL DISCORD LIST 😈</h3>
 <h3 class="subtitle">The all-in-one discord list for everyone, anytime, anywhere!</h6>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac tortor laoreet, feugiat augue vel, sodales ante. Cras urna nisi, congue eu purus quis, congue condimentum ante. Nullam eget felis nulla. Integer luctus enim sed ante lacinia tincidunt. Ut vitae dolor fermentum, varius nunc id, commodo purus. Quisque non est convallis, condimentum nibh a, mollis lacus. Vestibulum porta sapien sed tellus consectetur condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse eros turpis, rutrum id lobortis vel, luctus et lacus. Mauris facilisis lobortis tortor quis tempor. Suspendisse fermentum erat non molestie fringilla. In sapien lectus, ornare vel purus ut, commodo porttitor ligula. Ut auctor nulla ut neque interdum, sed porta mi posuere.</p>
<p>In nec congue diam, in malesuada metus. Proin nec laoreet justo, in facilisis neque. Vestibulum cursus libero lacus, ut congue nunc blandit eu. Ut quis tortor dictum, scelerisque ipsum in, rutrum dolor. Duis non libero et ante placerat vulputate. In accumsan odio vel tellus ultrices aliquet. Donec varius aliquam quam sit amet ultrices. Nullam aliquam rhoncus gravida.</p>

<p>Phasellus vitae nibh justo. Nullam molestie nisi vel volutpat dapibus. Nam lobortis purus nunc, sed ultricies nibh viverra vitae. Cras volutpat mi arcu, mollis imperdiet tortor finibus eget. Quisque blandit dapibus erat, et placerat ex semper at. Praesent interdum commodo sagittis. Curabitur id fringilla elit, in porttitor tortor. Praesent scelerisque massa blandit ante malesuada, id gravida ex efficitur. Etiam porta odio a neque porttitor sodales. Ut vestibulum vel ligula nec ornare. Sed ligula tortor, varius nec erat vel, vulputate commodo lectus. Mauris tristique purus felis, in condimentum nisl convallis sit amet. Donec semper tortor eu finibus tincidunt. In sit amet metus a ex imperdiet hendrerit a vel diam.</p>
 </div>
 <%- include('partials/footer'); %>
</body>