---
import Root from "@/layouts/Layout.astro";
import BotCardList from "@/components/bot-card-list.astro";

import { db, Bots, not, like } from "astro:db";
import { desc } from "astro:db";
const data = await db
  .select({
    id: Bots.id,
    slug: Bots.slug,
    avatar: Bots.avatar,
    username: Bots.username,
    discriminator: Bots.discriminator,
    short: Bots.short,
    votes: Bots.votes,
    servers: Bots.servers,
    invite: Bots.invite,
    bg: Bots.bg,
  })
  .from(Bots)
  .orderBy(desc(Bots.votes))
  .limit(10);
---

<Root title="Rovel Discord List">
  <div class="mt-24">
    <h1 class="font-heading text-4xl font-bold mb-4 text-center">
      We could say its the same old Rovel Discord List
    </h1>
    <h2 class="font-heading text-3xl font-bold mb-4 text-center">
      But its not...
    </h2>
    <BotCardList list={data as any} />
  </div></Root
>
