<%- include('partials/header', {
title: "Rovel Discord List - RDL",
desc: "The next gen all-in-one Discord List coming up!"
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i class="fad fa-browser fa-1x" aria-hidden="true"></i>
                </span>
                <br />
                <span>Rovel Discord List</span>
            </h1>
            <h2 class="subtitle">
                The Ultimate Discord List with Emojis, Users, Servers & Bots!
            </h2>
        </div>
    </div>
</section>
<div class="container is-fluid">
 <p>
  Hello World 😈😎
 </p>
</div>
 <%- include('partials/footer'); %>
</body>