<%- include('partials/header', {
title: "Rovel Discord List - RDL",
desc: "The next gen all-in-one Discord List coming up!"
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <div class="container">
 <h1 class="header">ROVEL DISCORD LIST</h3>
 <h3 class="subtitle">The all-in-one discord list for everyone, anytime, anywhere!</h6>
 </div>
</body>