<img src="/assets/img/wave.svg" width="100%" style="position: relative; top: -22px">
<h1 style="padding-left: 30px; color: black;">Contact Us:</h1>
<p style="padding-left: 10px"><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com">support@rovelstars.com</a></p>
<p style="padding-left: 10px"><i class="bx bxl-discord"></i><a href="https://discord.gg/953XCpHbKF">Discord</a></p>
<p style="padding-left: 10px"><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">Twitter</a></p>
<p style="padding-left: 10px"><i class=""></i></p>