<nav class="navbar navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://bots.rovelstars.ga/assets/img/robot.svg" alt="" width="30" height="30" class="d-inline-block align-top">&nbsp;&nbsp;R&nbsp;D&nbsp;L
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bx bxs-home"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bx bxs-wink-smile"></i>&nbsp;Emojis</a>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bx bxs-user-account"></i>&nbsp;Users</a>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bx bxs-server"></i>&nbsp;Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bx bxs-bot"></i>&nbsp;Bots</a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome back <% if(user){ %><img src="<%= user.avatarUrl(64) %>" style="border-radius: 50%; width: 10%">&nbsp;&nbsp;&nbsp;<%= user.username %><% } %> !
      </span>
      <% if(!user) {%><br>
      <button class="btn btn-outline-success me-2" type="button" onclick="login()"><i class="bx bxs-log-in-circle"></i>&nbsp;Login</button><br>
      <% } else { %><br>
      <button class="btn btn-outline-danger me-2" type="button" onclick="logout()"><i class="bx bxs-log-out-circle"></i>&nbsp;Logout</button><br>
      <% } %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More...
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 100%">
            <li><a class="dropdown-item" href="https://github.com/rovelstars/rdl"><i class="bx bxl-github"></i>RDL source - Github</a></li>
            <li><a class="dropdown-item" href="https://discord.gg/953XCpHbKF"><i class="bx bxl-discord"></i>Discord Server</a></li>
            <li><a class="dropdown-item" href="https://rovelstars.ga/"><i class="bx bxs-book-alt"></i>Rovel docs</a></li>
            <li><a class="dropdown-item" href="https://blog.rovelstars.ga/"><i class="bx bxs-news"></i>Rovel Blog</a></li>
            <li><a class="dropdown-item" href="https://rovel.js.org"><i class="bx bxs-package"></i>Rovel.js</a></li>
          </ul>
        </li>
      <br>
      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search for E-USB..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="bx bx-search-alt"></i>Search</button>
    </form>
    </div>
  </div>
</nav>
<script>
 function login(){
  window.location.href = "https://bots.rovelstars.ga/login";
 }
 function logout(){
  window.location.href = "https://bots.rovelstars.ga/logout";
 }
 
 window.onscroll = function() {nav()};
var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;
function nav() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
<br><br><br><br><br>