<div class="nav-container">
			<nav class="navbar">
				<h1 id="navbar-logo">RDL</h1>
				<div class="menu-toggle" id="mobile-menu">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<ul class="nav-menu">
					<li><a href="#" class="nav-links">Home</a></li>
					<li><a href="#" class="nav-links">Emojs</a></li>
					<li><a href="#" class="nav-links">Users</a></li>
					<li><a href="#" class="nav-links">Bots</a></li>
					<li><a href="#" class="nav-links">Servers</a></li>
					<li><a href="#" class="nav-links">Join Server</a></li>
					<li><a href="#" class="nav-links nav-links-btn">Login</a></li>
				</ul>
			</nav>