<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://discord.rovelstars.com">
      <img src="https://discord.rovelstars.com/assets/img/logo.svg" width="28" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmenuthing">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarmenuthing" class="navbar-menu">
    <div class="navbar-start">
     <h2> Welcome back <% if(user){ %><img src="<%= user.avatarUrl(128) %>" style="border-radius: 50%; width: 32px;height: 32px;" alt="<%= user.username %>"><%= user.username %><% } %>!</h2>
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Lists
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            <i class="bx bxs-wink-smile"></i> Emojis
          </a>
          <a class="navbar-item">
            <i class="bx bxs-user-account"></i> Users
          </a>
          <a class="navbar-item">
            <i class="bx bxs-server"></i> Servers
          </a>
          <a class="navbar-item">
           <i class="bx bxs-bot"></i> Bots
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Join Discord Server
          </a>
          <a class="navbar-item">
           Source Code
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong><% if(!user) {%>Log in<% } else { %>Log out<% } %></strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
 $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
</script>