<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://bots.rovelstars.ga/assets/img/robot.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      RDL
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bots</a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome back <%= user.username || '' %> !
      </span>
      <% if(!user) {%>
      <button class="btn btn-outline-success me-2" type="button">Login</button>
      <% } else { %>
      <button class="btn btn-outline-success me-2" type="button">Logout</button>
      <% } %>
      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search for E-USB..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  </div>
</nav>