<div class="column is-one-third" is-bot-card>
<div class="box has-background-dark" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64">
<img width="64" height="64" class="is-rounded" loading="lazy" src="https://cdn.discordapp.com/avatars/603213294265958400/4f6073cb9209120a41a1d1d3237f963f.webp" alt="Rovel Stars Avatar" onerror="errorimg()">
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile">
<span>ROVEL BOT</span>
</span>
<br />
Bot Description Testing Atm..
</p>
</div>
<div class="content-footer">
<div class="buttons">
<a href="/bots/603213294265958400" class="button is-info is-outlined">
<span class="icon">
<i class="bx bxs-envelope-open"></i>
</span>
<span>View</span>
</a>
<a href="/" class="button is-link is-outlined">
<span class="icon">
<i class="bx bxs-plus-circle"></i>
</span>
<span>Add</span>
</a>
</div>
</div>
</div>
</article>
</div>
</div>