<div class="column is-one-third" is-bot-card>
<div class="box has-background-primary" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64">
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="83c7a884309a0f758fa93c81-|49"></script><img width="64" height="64" class="is-rounded" loading="lazy" src="https://cdn.discordapp.com/app-icons/443545183997657120/58df3bac6316a4b74862a35ec255c5c3.webp?size=128" alt="ChannelBot&#39;s Avatar" onerror="this.onerror = null;this.src = '/img/defaultavatar.webp';console.log('Failed to load item 443545183997657120 avatar/icon, using default instead.');">
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile">
<span>ChannelBot</span>
</span>
<br />
Server backups, reaction roles, voice-text linking, channel &amp; se…
</p>
</div>
<div class="content-footer">
<div class="buttons">
<a href="/en-US/bots/443545183997657120" class="button is-default is-outlined">
<span class="icon">
<i class="fas fa-eye"></i>
</span>
<span>View</span>
</a>
<a href="https://discord.com/oauth2/authorize?client_id=443545183997657120&amp;scope=bot%20applications.commands&amp;permissions=2144660598&amp;redirect_uri=https%3A%2F%2Fchannelbot.xyz%2Fadd" class="button is-blurple is-outlined">
<span class="icon">
<i class="fas fa-plus"></i>
</span>
<span>Add</span>
</a>
</div>
</div>
</div>
</article>
</div>
</div>