<footer class="footer">
 <div class="content has-text-centered">
<% if(isCopy()){ %>
     <a href="https://github.com/rovelstars" style="color: white;">Rovel Stars © 2021 All Rights Reserved.</a>
     <p class="has-text-grey-light">We are not affiliated with Discord in any way. All trademarks, copyrights and logos belong to their respective companies. Discord, Twitter And GitHub logos is owned by their respective companies.</p>
    <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
    <button id="rdl-widget" onclick="document.getElementById('rdl-widget').classList.add('scale-out-center');Swal.fire({title: 'Announcement', text: '<%= process.env.ANNOUNCE || 'There\'s no announcement currently.' %>', imageWidth: 100, imageHeight: 100, imageUrl: 'https://discord.rovelstars.com/assets/img/announce.png', didRender: twemoji.parse}).then(()=>{document.getElementById('rdl-widget').classList.remove('scale-out-center')});">
			<img src="/assets/img/announce.png" /></button>
  <% }else{ %>
  <%= "This Discord List has been copied from Rovel Discord List, please visit the original project - discord.rovelstars.com" %>
  <% } %>
 </div>
 <div class="container has-text-centered">
<!--<h1 class="has-text-centered"> - Credits to - </h1>
<br />
<p><a href="https://dscrd.info">dscrd.info</a>, <a href="https://dmod.gg">dmod.gg</a> for letting us use their APIs and integrating them to RDL!</p>-->
<br />
<h1 class="has-text-centered">Contact Us</h1>
<br />
<p><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p><i class="bx bxl-discord"></i><a href="/server">&nbsp;<%= __("discord") %></a></p>
<p><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">&nbsp;<%= __("twitter") %></a></p>
</div>
</footer>
<img class="footer-img" src="/assets/img/wavedown.svg" width="100%" height="auto"></img>
<% if(preferEmoji=="joypixels"){ %>
<script>
 globalThis.emojiopts = function(icon){
  return "https://demos.joypixels.com/latest/assets/png/" + icon + ".png";
};
</script>
<% } else if(preferEmoji=="openmoji"){ %>
<script>
globalThis.emojiopts = function(icon) {
    return "https://gitcdn.xyz/repo/hfg-gmuend/openmoji/master/color/svg/"+icon.toUpperCase()+".svg";
};
</script>
<% } else { %>
<script>
 globalThis.emojiopts = {folder: 'svg', ext: '.svg'}
</script>
<% } %>
<script>
$$("table").forEach(e=>{e.classList.toggle("table", true)});
var parts = document.getElementsByClassName("tt");
var ttarr =[];
for(const part of parts){
 ttarr.push(part.innerText);
}
function addCommas(num, opts) {
    if (opts.separator === false) {
      return num.toString();
    }
    if (num < 1000) {
      return num.toString();
    }
    var separator = (typeof opts.separator === 'string' ? opts.separator : ',');

    var out = [],
      digits = Math.round(num).toString().split('');

    digits.reverse().forEach(function(digit, i){
      if (i && i%3 === 0) {
        out.push(separator);
      }
      out.push(digit);
    });
    return out.reverse().join('');
  }
  function formatDec(num, base, opts) {
    var workingNum = num/base;
    var ROUND = opts.round ? 'round' : 'floor';
    if (opts.decimal === false) {
      num = Math[ROUND](workingNum);
      return num.toString();
    }
    if (opts.precision) {
      num = workingNum;
    } else {
      num = workingNum < 10 ? (Math[ROUND](workingNum * 10) / 10) : Math[ROUND](workingNum);
    }
    num = num.toString();
    if (typeof opts.decimal === 'string') {
      num = num.replace('.', opts.decimal);
    }
    return num;
  }
  var THOUSAND = 1000;
  var TEN_THOUSAND = 10000;
  var MILLION = 1000000;
  var BILLION = 1000000000;
  var TRILLION = 1000000000000;
function approx(num, opts) {
  if(isNaN(num)) return num;
  else if(num == Infinity || num == "Infinity") return "∞";
  else{
    var numString;
    opts = opts || {};
    var negative = num < 0;
    num = Math.abs(num);
    var thousandsBreak = opts.min10k ? TEN_THOUSAND : THOUSAND;
    if (num < thousandsBreak) {
      numString = addCommas(formatDec(num, 1, opts), opts);
    } else if (num < MILLION) {
      numString =  formatDec(num, THOUSAND, opts) + 'k';
    } else if (num < BILLION) {
      numString =  formatDec(num, MILLION, opts) + 'm';
    } else if (num < TRILLION) {
      numString =  addCommas(formatDec(num,  BILLION, opts), opts) + 'b';
    } else {
      numString = addCommas(formatDec(num,  TRILLION, opts), opts) + 't';
    }
    if (negative) {
      numString = '-' + numString;
    }
    if (opts.capital) {
      numString = numString.toUpperCase();
    }
    if (opts.prefix) {
      numString = opts.prefix + numString;
    }
    if (opts.suffix) {
      numString = numString + opts.suffix;
    }
    return numString;}
  }
$$(".approx-num").forEach(e=>{e.innerText=approx(e.innerText,{capital: true})});
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/assets/script.js"></script>
<script>
  function adBlockDetected() {
	Swal.fire({icon:"danger", title: "AD Block Detected!", html: "We depend on ads for our income. All of the earnings go to the development of RDL, server hosting, and the extra income goes to best bot devs and fossthost.org</br >Please disable ad block and revisit the site again. If you dont want ads, disable ads from our <a href='/dashboard'>dashboard.</a><br />Please disable your adblock and click ok."}).then(()=>{location.reload()})
}

// We look at whether BlockAdBlock already exists.
if(typeof blockAdBlock !== 'undefined' || typeof BlockAdBlock !== 'undefined') {
	// If this is the case, it means that something tries to usurp are identity
	// So, considering that it is a detection
	adBlockDetected();
} else {
	// Otherwise, you import the script BlockAdBlock
	var importFAB = document.createElement('script');
	importFAB.onload = function() {
		// If all goes well, we configure BlockAdBlock
		blockAdBlock.onDetected(adBlockDetected)
	};
	importFAB.onerror = function() {
		// If the script does not load (blocked, integrity error, ...)
		// Then a detection is triggered
		adBlockDetected(); 
	};
	importFAB.src = 'https://cdnjs.cloudflare.com/ajax/libs/blockadblock/3.2.1/blockadblock.min.js';
	document.head.appendChild(importFAB);
}
</script>