<footer class="footer">
 <div class="content has-text-centered">
  <a href="https://github.com/rovelstars" style="color: white;"><%= __("footer.text") %></a>
 </div>
 <div class="container is-fluid">
<!--<h1 class="has-text-centered"> - Credits to - </h1>
<br />
<p><a href="https://dscrd.info">dscrd.info</a>, <a href="https://dmod.gg">dmod.gg</a> for letting us use their APIs and integrating them to RDL!</p>-->
<br />
<h1 class="has-text-centered"> - <%= __("contact-us") %> - </h1>
<br />
<p style="padding-left: 10px"><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p style="padding-left: 10px"><i class="bx bxl-discord"></i><a href="/server">&nbsp;<%= __("discord") %></a></p>
<p style="padding-left: 10px"><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">&nbsp;<%= __("twitter") %></a></p>
<a href="//www.dmca.com/Protection/Status.aspx?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa" title="DMCA.com Protection Status" class=" has-text-centered dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
</div>
</footer>
<img class="footer-img" src="/assets/img/wavedown.svg" style="width:100%;"></img>