<footer class="footer">
 <div class="content has-text-centered">
  Made with <span class="icon has-text-danger"><i class="bx bxs-heart"></i></span> from Rovel Stars © 2021
 </div>
 <div class="container is-fluid">
<!--<h1 class="has-text-centered"> - Credits to - </h1>
<br />
<p><a href="https://dscrd.info">dscrd.info</a>, <a href="https://dmod.gg">dmod.gg</a> for letting us use their APIs and integrating them to RDL!</p>-->
<br />
<h1 class="has-text-centered"> - Contact Us - </h1>
<br />
<p style="padding-left: 10px"><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p style="padding-left: 10px"><i class="bx bxl-discord"></i><a href="/server"> Discord</a></p>
<p style="padding-left: 10px"><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars"> Twitter</a></p>
<a href="//www.dmca.com/Protection/Status.aspx?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa" title="DMCA.com Protection Status" class=" has-text-centered dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://discord.rovelstars.com">License for Rovel Discord List</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/sayantan300">Sayantan Das (sayantan300/rovelstars)</a> is licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Attribution-NonCommercial 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"></a></p>
</div>
</footer>
<img class="footer-img" src="https://discord.rovelstars.com/assets/img/discord-copyrighted-footer.svg" style="width: 100%">
