<!doctype html>
<head>
<meta charset="UTF-8">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="RDL">
<meta name="apple-mobile-web-app-title" content="RDL">
<meta name="theme-color" content="#7289da">
<meta name="msapplication-navbutton-color" content="#282a36">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image" sizes="256x256" href="https://cdn.discordapp.com/attachments/775220204699385886/811569300196163604/robot.png">
<link rel="apple-touch-icon" type="image" sizes="256x256" href="https://cdn.discordapp.com/attachments/775220204699385886/811569300196163604/robot.png">
 <meta name="theme-color" content="#7289da">
    <meta name="description" content="<%= desc %>">
    <meta name="og:image" content="https://cdn.discordapp.com/attachments/775220204699385886/811569300196163604/robot.png">
    <!-- end of spam -->
    
  <title><%= title %></title>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="https://discord.rovelstars.com/assets/script.js"></script>
  <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
<script src="https://discord.rovelstars.com/assets/console.js"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://discord.rovelstars.com/assets/css/default.css">