<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div id="object"></div>
    </div>
  </div>
  <div id="loadtext">
   THIS WILL BE A TIP TO USERS.
  </div>
</div>