<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div id="object"></div>
    </div>
    <div id="loadtext">
   <% const ch = Math.floor((Math.random()*10)+1); %>
   <% if(ch==1){ %>
   Tip: Join our server and follow our Announcement channel to receive all good news of RDL!
   <% } if(ch==2){ %>
   Tip: You can find anyone on users list!
   <% } if(ch==3){ %>
   Tip: You can import your bot from other popular bot lists to RDL in just a min!
   <% } if(ch==4){ %>
   Tip: Connect your server with your bot on RDL to receive special badge on your server!
   <% } if(ch==5){ %>
   Tip: Never leak your key or bot auth code to anyone!
   <% } if(ch==6){ %>
   Tip: Found a bug or suggestion? Send it to github issues section!
   <% } if(ch==7){ %>
   Tip: Import your bots from other bot lists to here within one second!
   <% } if(ch==8){ %>
   Tip: Wan't to support us? Then share RDL with your friends and star our open source repository on GitHub!
   <% } if(ch==9){ %>
   Tip: Failed to load a tip! Refresh the site to get another tip!
   <% } if(ch== 10){ %>
   Tip: Put "discord.rovelstars.com" in your status to receive special offers!
   <% } %>
  </div>
  </div>
</div>