<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div id="object"></div>
    </div>
  </div>
</div>
<script>
 $(window).load(function() {
    // will first fade out the loading animation
    $("#object").fadeOut();
    $("iframe").delay(1000).fadeOut();
    // will fade out the whole DIV that covers the website.
    $("#loading").delay(100).fadeOut("slow");
    
</script>