<!--<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div id="object"></div>
    </div>
  </div>
</div>-->
<div class="loading" id ="loadingimage">
<center><img id="object" src="https://cdn.discordapp.com/attachments/414258067870449665/445736475158380544/discord.gif"></center>
</div>
<div class="loading" id="loadingtext">
SHARPENING WEAPONS
</div>