<noscript>
    <div style="padding: 25px; background-color: yellow; color: black;" class="has-text-centered">
        <span class="icon">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span>WARNING! You currently have JavaScript disabled, our site will not function correctly with JavaScript disabled.</span>
    </div>
    <style>
        body {
            border-left-color: yellow;
            border-left-width: 10px;
            border-left-style: solid;
            border-right-color: yellow;
            border-right-width: 10px;
            border-right-style: solid;
            border-bottom-color: yellow;
            border-bottom-width: 10px;
            border-bottom-style: solid;
        }
    </style>
</noscript>
<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div id="object"></div>
    </div>
    <div id="loadtext">
   <% const ch = Math.floor((Math.random()*10)+1); %>
   <% if(ch==1){ %>
   Tip: Join our server and follow our Announcement channel to receive all good news of RDL!
   <% } if(ch==2){ %>
   Tip: Why did RDL pop up? Just to beat Top.gg out!
   <% } if(ch==3){ %>
   Tip: You can import your bot from other popular bot lists to RDL in just a min!
   <% } if(ch==4){ %>
   Tip: Connect your server with your bot on RDL to receive special badge on your server!
   <% } if(ch==5){ %>
   Tip: Never leak your key or bot auth code to anyone!
   <% } if(ch==6){ %>
   Tip: Found a bug or suggestion? Send it to github issues section!
   <% } if(ch==7){ %>
   Tip: Import your bots from other bot lists to here within one second!
   <% } if(ch==8){ %>
   Tip: Wan't to support us? Then share RDL with your friends and star our open source repository on GitHub!
   <% } if(ch==9){ %>
   Tip: Failed to load a tip! Refresh the site to get another tip!
   <% } if(ch== 10){ %>
   Tip: Put "discord.rovelstars.com" in your status to receive special offers!
   <% } %>
  </div>
  </div>
</div>