<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="squares"></div>
    </div>
    <div id="loadtext" class="tt">
   <% const ch = Math.floor((Math.random()*10)+1); %>
   <% if(ch==1){ %>
   Tip: Join our server and follow our Announcement channel to receive all good news of RDL!
   <% } if(ch==2){ %>
   Tip: Why did RDL pop up? Just to beat Top.gg out!
   <% } if(ch==3){ %>
   Tip: You can import your bot from other popular bot lists to RDL in just a min!
   <% } if(ch==4){ %>
   Tip: Connect your server with your bot on RDL to receive special badge on your server!
   <% } if(ch==5){ %>
   Tip: Never leak your key or bot auth code to anyone!
   <% } if(ch==6){ %>
   Tip: Found a bug or suggestion? Send it to github issues section!
   <% } if(ch==7){ %>
   Tip: Import your bots from other bot lists to here within one second!
   <% } if(ch==8){ %>
   Tip: Wan't to support us? Then share RDL with your friends and star our open source repository on GitHub!
   <% } if(ch==9){ %>
   Tip: Failed to load a tip! Refresh the site to get another tip!
   <% } if(ch== 10){ %>
   Tip: Put "discord.rovelstars.com" in your status to receive special offers!
   <% } %>
   <noscript><br />
    Alert! RDL requires JavaScript in order to run, without it, you won't be able to view any page.
   </noscript>
  </div>
  </div>
</div>
<% var hex; var bgcolor; %>
<% if(theme=="discord"){ hex="#5865F2"; bgcolor= "#36393F" } %>
<% if(theme=="dracula"){ hex="#bd93f9"; bgcolor= "#282a36" } %>
<% if(theme=="paranoid"){ hex="#A702F2"; bgcolor= "#191B2A" } %>
<% if(req.originalUrl.includes("/new")||req.originalUrl.includes("/edit")){ %>
<link rel="stylesheet" href="/assets/css/<%= theme %>.css">
<% }else{ %>
<style id="styling"></style>
<% } %>
<link rel="stylesheet" href="/assets/css/sa2.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/code.css">
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script>
    let loading = $("#loading");
  loading.style.transition = "0.8s";
  loading.style.opacity = "0";
  loading.style.display = "none";
  </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
<script src="/assets/js/prism.js"></script>
<script src="/assets/js/bar.js"></script>