<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-primary">
      <img src="https://discord.rovelstars.com/assets/img/bot/logo.svg" width="30" height="30" id="rdllogo" class="rdllogo">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmenuthing">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarmenuthing" class="navbar-menu has-background-dark">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <span class="icon has-text-primary"><i class="bx bxs-home"></i></span>&nbsp;&nbsp;<span class="tt">Home</span>
      </a>

      <a class="navbar-item" href="https://docs.rovelstars.com">
        <span class="icon has-text-info"><i class="bx bxs-book-open"></i></span>&nbsp;&nbsp;<span class="tt">Documentation</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
  <div class="navbar-link" tabindex="0">
                    <span class="icon has-text-success">
                        <i class="bx bxs-category" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;
                    <span class="tt">Listings</span>
                </div>
       <div class="navbar-dropdown is-hidden-touch">
          <a class="navbar-item" href="/emojis">
            <span class="icon has-text-warning"><i class="bx bxs-wink-smile"></i></span class="tt">&nbsp;&nbsp;Emojis</span>
          </a>
          <a class="navbar-item" href="/users">
            <span class="icon has-text-info"><i class="bx bxs-user-account"></i></span class="tt">&nbsp;&nbsp;Users
          </a>
          <a class="navbar-item" href="/servers">
            <span class="icon has-text-success"><i class="bx bxs-server"></i></span class="tt">&nbsp;&nbsp;Servers
          </a>
          <a class="navbar-item" href="/templates">
           <span class="icon has-text-info"><i class="bx bxs-note"></i></span class="tt">&nbsp;&nbsp;Templates
          </a>
          <a class="navbar-item" href="/bots">
           <span class="icon has-text-danger"><i class="bx bxs-bot"></i></span class="tt">&nbsp;&nbsp;Bots
          </a>
          </div>
            </div>
       </div>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/server">
            <span style="color: #5865F2;"><i class="bx bxl-discord"></i></span><span class="tt">&nbsp;&nbsp;Join Server</span>
          </a>
          <a class="navbar-item" href="https://github.com/rovelstars/rovel-discord-list">
           <i class="bx bxl-github"></i><i class="bx bx-code-alt"></i><span class="tt">&nbsp;&nbsp;Source Code</span>
          </a>
          <div class="navbar-item">
        <div class="buttons">
         <a class="button is-warning">🏸<span class="tt">Ping <%= ping %></span></a>
         <% if(!user){ %>
          <a class="button is-success" href="/login">
            <i class="bx bxs-chevron-right-circle"></i><span>&nbsp;&nbsp;Login</span></a>
            <% } else { %>
              <a class="button is-danger tt" href="/logout" id="logout-link">
            <i class="bx bxs-chevron-left-circle"></i><span>&nbsp;&nbsp;Logout</span></a>
             <a class="button is-info tt" style="color: #ffffff;" href="/dashboard">
              <i class="bx bxs-grid-alt"></i><span>&nbsp;&nbsp;Dashboard</span>
             </a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="navbar-end">
    </div>
  </div>
</nav>