<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-primary">
      <img src="https://discord.rovelstars.com/assets/img/bot/logo.svg" width="35" height="35" id="rdllogo" class="rdllogo">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmenuthing">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarmenuthing" class="navbar-menu has-background-dark">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <span class="icon has-text-primary"><i class="fad fa-house"></i></span><span class="tt">Home</span>
      </a>

      <a class="navbar-item" href="https://docs.rovelstars.com">
        <span class="icon has-text-info"><i class="fad fa-book-open"></i></span><span class="tt">Documentation</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
  <div class="navbar-link" tabindex="0">
                    <span class="icon has-text-success">
                        <i class="fad fa-list-ul" aria-hidden="true"></i>
                    </span>
                    <span class="tt">Listings</span>
                </div>
       <div class="navbar-dropdown is-hidden-touch">
          <a class="navbar-item" href="/emojis">
            <span class="icon has-text-warning"><i class="fad fa-smile-wink"></i></span><span class="tt">Emojis</span>
          </a>
          <a class="navbar-item" href="/users">
            <span class="icon has-text-info"><i class="fad fa-user"></i></span><span class="tt">Users</span>
          </a>
          <a class="navbar-item" href="/servers">
            <span class="icon has-text-success"><i class="fad fa-server"></i></span><span class="tt">Servers</span>
          </a>
          <a class="navbar-item" href="/templates">
           <span class="icon has-text-info"><i class="fad fa-pager"></i></span><span class="tt">Templates</span>
          </a>
          <a class="navbar-item" href="/bots">
           <span class="icon has-text-danger"><i class="fad fa-user-robot"></i></span><span class="tt">Bots</span>
          </a>
          </div>
            </div>
       </div>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/server">
            <span class="icon" style="color: #5865F2;"><i class="fab fa-discord"></i></span><span class="tt">Join Server</span>
          </a>
          <a class="navbar-item" href="https://github.com/rovelstars/rovel-discord-list">
           <span class="icon"></span><i class="fab fa-github"></i><i class="fad fa-code"></i></span><span class="tt">Source Code</span>
          </a>
          <div class="navbar-item">
        <div class="buttons">
         <% if(!user){ %>
          <a class="button is-success" href="/login">
            <i class="fad fa-sign-in-alt"></i><span class="tt">Login</span></a>
            <% } else { %>
              <a class="button is-danger" href="/logout" id="logout-link">
            <i class="fad fa-sign-out-alt"></i><span class="tt">Logout</span></a>
             <a class="button is-info" style="color: #ffffff;" href="/dashboard">
              <i class="fad fa-tachometer-alt-fast"></i><span class="tt">Dashboard</span>
             </a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="navbar-end">
    </div>
  </div>
</nav>