<div class="bot-card">
 <img src="https://cdn.discordapp.com/avatars/159985870458322944/b50adff099924dd5e6b72d13f77eb9d7.webp?size=128" alt="Avatar" loading="lazy" class="bc-avatar">
 <div class="top-bar"><p class="username" >MEE6</p>
 </div>
 <div class="bc-content" >
  <div class="stats" >
   <div class="stat rating" >
   <p title="Based on 274 reviews" class="positive" >Rating: <span >79%</span>
   </p>
   </div>
   <div class="stat" >
    <p >Invites: 2,431</p>
    </div>
    <div class="stat" >
     <p title="Levels, Livestreams, Moderation, Music, Notifications, Utility, Web Dashboard" >Tags: 7</p>
    </div>
   </div>
   <div class="description" >
    <p >MEE6 is a Discord bot looking to bring great new features to your Discord server!</p>
   </div>
   <div class="bc-buttons" >
    <a href="/bots/159985870458322944" class="button is-primary" >
    <i class="fa fa-address-card" ></i>View Bot</a>
    <button class="button is-primary" >
   <i class="fa fa-user-plus" ></i>Add to Server</button>
  </div>
 </div>
</div>
